*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Inter", sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    align-items: center;
    padding: 15px 8%;

}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 18px;
    font-weight: bold;
    font-size: 20px;

}

a{
    text-decoration: none;
    color: black;
}

/* Header */

header{
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.2)), url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 50px;
    box-sizing: border-box;
}

.header-content{
    color: white;
    text-align: center;
    display: grid;
    margin-top: 10%;
    
}

.sologan{
    font-weight: bold;
    font-size: 85px;   
}

.btn{
    text-align: center;
    
}

.register-btn {
    background-color: #2F5BEA;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 18px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    
}


.Price-btn{
    background-color: #535d7f;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 18px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    
}

/* Speakers Section */

.popular-bg{
    padding: 50px 5%;
    background: #fff;
}

.Speakers{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card{
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    box-shadow: 5px #474343;
}

.card img{
    width: 100%;
    display: block;
}

.card-content{
    padding: 15px;
}

.category{
    color: #2F5BEA;
    font-weight: bold;
}

.card h4{
    margin: 10px 0;
}

.card p{
    color: #1707c1;
}
.p-design{
    color: rgb(40, 35, 35);
}


/* Pricing Section */

.pricing{
    background-color: #ddd;
    padding: 20px;
}

.pricing-title h2{
    text-align: center;
    font-size: 50px;
}
.pricing-title p{
    text-align: center;
    padding: 20px;
}
.pricing-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.price-card ul{
    list-style: disc;
    padding-left: 20px;
    margin: 20px 0;
}

.price-card li{
    margin-bottom: 10px;
}

.pricing{
    padding: 50px 5%;
}

.pricing-title{
    text-align: center;
    
    margin-bottom: 30px;
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.price-card{
    border: 1px solid #474746;
    border-radius: 8px;
    padding: 20px;
}

.price-card h5{
    margin-bottom: 10px;
}

.price-card h2{
    margin-bottom: 10px;
}

.price-card p{
    margin-bottom: 20px;
}

.price-card button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.active{
    background: #0f172a;
    color: white;
}

.active-2{
    background: #ffffff;
    color: rgb(0, 0, 0);
}